
<div class="container mb-1" id="top-page">
 <div class="row">

  <div class="top-title col-md-8 offset-md-2">
   <div class="top-image"></div>
   <h1 class="top-head">これからの時代、<br>手書きメモはアートとなる。</h1>
   <p class="top-sentence sentence1">このサービスは、PCやタブレット、スマートフォンのメモが普及したからこそ、多くの手書きメモに触れて親しめるようなサービスを目指して生まれました。</p>
   <p class="top-sentence">それは、頭の片隅を記憶するためのメモでもあれば、友人にちょこっと書いた回し手紙、絵しりとりでも。</p>
   <p class="top-sentence">端くれのようなメモが、いつの間にか人々に芸術や知見として共有される世界に興味はありませんか。</p>
   <div class="container top-button">
    <div class="row">
     <button class="signup-button btn btn-primary col-md-5" type="button" href="<%= link_to("", "/signup") %>">サインアップ</button>
     <button class="login-button btn btn-primary col-md-5 offset-md-2 align-center" type="button" href="<%= link_to("", "/login") %>">サインアップ</button>
    </div>
   </div>
  </div>

 </div>
</div>
