
<div class="container">
    <div class="text-center">
      <img class="d-block mx-auto mb-4" src="../images/bootstrap-solid.svg" alt="" width="72" height="72">
      <h2>会員登録</h2>
      <p class="lead">Memoriesでは、会員登録には名前やメールアドレスだけでなく、住所も登録していただきます。その訳としては、ユーザーにプレゼントをお送りするサービスがあり、その際の配送に使わせていただきます。</p>
    </div>

      <div class="py-4 col-md-8 offset-md-2">
        <h4 class="mb-3">アカウント情報</h4>
        <%= form_with(url: "/signup/register", local: true) do |form| %>
        <form class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="familyName">姓*</label>
              <input type="text" class="form-control" id="familyName" name="first_name" placeholder="" value="" required>
              <div class="invalid-feedback">
                名字を入力してください
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="givenName">名*</label>
              <input type="text" class="form-control" id="givenName" name="last_name" placeholder="" value="" required>
              <div class="invalid-feedback">
                名前を入力してください
              </div>
            </div>
          </div>

          <div class="mb-3">
            <label for="email">ユーザー名*</label>
            <input type="text" class="form-control" id="email" name="user_name" placeholder="" required>
            <div class="invalid-feedback">
              配送の更新に有効なメールアドレスを入力してください
            </div>
          </div>

          <div class="mb-3">
            <label for="email">ユーザーID*</label>
            <input type="text" class="form-control" id="email" name="account_id" placeholder="" required>
            <div class="invalid-feedback">
              配送の更新に有効なメールアドレスを入力してください
            </div>
          </div>

          <div class="mb-3">
            <label for="email">Eメール*</label>
            <input type="email" class="form-control" id="email" name="email_address" placeholder="you@example.com" required>
            <div class="invalid-feedback">
              配送の更新に有効なメールアドレスを入力してください
            </div>
          </div>

          <div class="mb-3">
            <label for="email">パスワード*</label>
            <input type="password" class="form-control" id="email" name="password" placeholder="パスワード(半角英数字で6〜16字)" required>
            <div class="invalid-feedback">
              配送の更新に有効なメールアドレスを入力してください
            </div>
          </div>

          <div class="mb-3">
            <label for="email">パスワード（確認）*</label>
            <input type="password" class="form-control" id="email" name="password_check" placeholder="パスワード（確認用）" required>
            <div class="invalid-feedback">
              配送の更新に有効なメールアドレスを入力してください
            </div>
          </div>

        <div class="row">
            <div class="col-md-6 mb-3">
              <label for="zip">郵便番号</label>
              <input type="text" class="form-control" id="zip" name="address_number" placeholder="">
              <div class="invalid-feedback">
                郵便番号を入力してください
              </div>
            </div>


            <div class="col-md-6 mb-3">
              <label for="pref">都道府県</label>
              <select class="custom-select d-block w-100" id="pref" name="prefecture">
                <option>選択...</option>


<option value="北海道">北海道</option>
<option value="青森県">青森県</option>
<option value="岩手県">岩手県</option>
<option value="宮城県">宮城県</option>
<option value="秋田県">秋田県</option>
<option value="山形県">山形県</option>
<option value="福島県">福島県</option>
<option value="茨城県">茨城県</option>
<option value="栃木県">栃木県</option>
<option value="群馬県">群馬県</option>
<option value="埼玉県">埼玉県</option>
<option value="千葉県">千葉県</option>
<option value="東京都">東京都</option>
<option value="神奈川県">神奈川県</option>
<option value="新潟県">新潟県</option>
<option value="富山県">富山県</option>
<option value="石川県">石川県</option>
<option value="福井県">福井県</option>
<option value="山梨県">山梨県</option>
<option value="長野県">長野県</option>
<option value="岐阜県">岐阜県</option>
<option value="静岡県">静岡県</option>
<option value="愛知県">愛知県</option>
<option value="三重県">三重県</option>
<option value="滋賀県">滋賀県</option>
<option value="京都府">京都府</option>
<option value="大阪府">大阪府</option>
<option value="兵庫県">兵庫県</option>
<option value="奈良県">奈良県</option>
<option value="和歌山県">和歌山県</option>
<option value="鳥取県">鳥取県</option>
<option value="島根県">島根県</option>
<option value="岡山県">岡山県</option>
<option value="広島県">広島県</option>
<option value="山口県">山口県</option>
<option value="徳島県">徳島県</option>
<option value="香川県">香川県</option>
<option value="愛媛県">愛媛県</option>
<option value="高知県">高知県</option>
<option value="福岡県">福岡県</option>
<option value="佐賀県">佐賀県</option>
<option value="長崎県">長崎県</option>
<option value="熊本県">熊本県</option>
<option value="大分県">大分県</option>
<option value="宮崎県">宮崎県</option>
<option value="鹿児島県">鹿児島県</option>
<option value="沖縄県">沖縄県</option>


              </select>
              <div class="invalid-feedback">
                都道府県を選択してください
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="city">市区町村、番地</label>
              <input class="form-control" id="city" name="city">
              <div class="invalid-feedback">
                市町村を選択してください
              </div>
            </div>
            <div class="col-md-12 mb-3">
              <label for="city">建物名（なければ不要）</label>
              <input class="form-control" id="city" name="building">
              <div class="invalid-feedback">
                市町村を選択してください
              </div>
            </div>

          </div>
          <hr class="mb-4">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="keepCheck">
            <label class="custom-control-label" for="keepCheck">次回のために、この情報を保存する</label>
          </div>
          <hr class="mb-4">
          <button class="btn btn-primary btn-lg btn-block" type="submit">登録</button>
        </form>
        <% end %>
      </div>
